<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="Myconnect" connectionString="Server=DCHTHL-00109\SQLEXPRESS;Database=DCH_TEST;uid=sa;pwd=P@ssw0rd;application name=DCH;"/>
    <!--<add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <!--<identity impersonate="true"/>
  <customErrors mode="Off" defaultRedirect="invaliduser.aspx"/>-->
  <!--<trust level="Full" originUrl=""/>-->
  <!--<compilation debug="true" targetFramework="4.0"/>-->

  <!--<authentication mode="Windows">
    <forms loginUrl="invaliduser.aspx"/>
  </authentication>
  <authorization>
    <deny users="?"/>
  </authorization>-->
  <!--<system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>-->
</configuration>
